<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<title>Puppy Pal</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>
	<script src="./js/script.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css" />
	<link rel="stylesheet" href="./css/puppy_style.css" type="text/css" />

</head>

<body>
    {{{ body }}}
    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>