<div class="uk-container-small" id="slideshowContainer">
    <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle uk-background-top-center"
        style="background-image: url(/img/banner-image-revised.png);">
    </div>
    <div class="uk-flex uk-flex-center" id="aboutDiv">
        <div class="uk-card uk-card-default uk-card-body uk-flex-left@m" id="cardOne"></div>
        <div class="uk-card uk-card-default uk-card-body uk-margin-left uk-flex-right@m" id="cardTwo"><h2 class="aboutHeading">About</h2></div>
    </div>

    <button class="backButton uk-button uk-button-default" aria-hidden="false" onclick="location.href='../puppies';">Go back</button>

    <div class="footer uk-text-muted">
        Copyright 2018 |
        <a href="/shelter" class="uk-text-muted">Shelter? Click here</a>
    </div>
</div>