<div class="uk-container-small" id="slideshowContainer">
    <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle uk-background-top-center"
        style="background-image: url(/img/banner-image.png);">
    </div>
    <div class="uk-cover-container profilePhoto">
    </div>
</div>