
<div class="uk-container uk-container-small">
<div class="uk-background-cover uk-height-large uk-panel uk-flex uk-flex-center uk-flex-middle uk-background-top-center"
    style="background-image: url(/img/banner-image.png);">
</div>

    <div class="header">
        <h1 class="puppy">Welcome to puppy pals! </h1>
    </div>
    <div class="paragraphs">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id arcu a tellus aliquam tincidunt. Nulla facilisi.
            Donec scelerisque risus ante, vitae auctor sapien finibus ac. Aenean ipsum magna, vehicula vel nisi vel, sodales
            venenatis orci. Morbi in mauris vel ex iaculis iaculis. Fusce suscipit, felis ut interdum faucibus, tortor felis
            feugiat lectus, id pretium augue dolor ut eros. Maecenas eu lacinia leo, at sagittis neque. Ut eu pulvinar mi.
            Donec euismod lobortis ex ac semper. Etiam ac suscipit libero, quis vulputate magna. Donec bibendum odio lectus,
            vitae tempor lectus dictum iaculis.</p>

        <p>Phasellus semper sit amet risus id imperdiet. Suspendisse venenatis nibh in massa cursus, molestie imperdiet ex sagittis.
            Nunc condimentum tellus nec dui faucibus pulvinar. Sed pharetra enim quis commodo rutrum. Vestibulum ante ipsum
            primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed vitae ornare ex. Duis mattis imperdiet
            purus ac malesuada. Donec dui justo, lobortis in eros a, tincidunt ornare augue.</p>

        <p>In vulputate accumsan aliquet. Duis consequat, odio quis aliquam facilisis, leo lorem gravida eros, sodales tincidunt
            est magna quis tellus. Vestibulum est neque, auctor eu rhoncus sed, aliquam non magna. Aliquam accumsan erat
            dolor, eu luctus sapien varius a. Morbi interdum nibh in nunc tristique, ut sagittis libero venenatis. Nam eu
            quam leo. Aliquam ut facilisis libero. Ut feugiat nunc at ipsum auctor mollis. Suspendisse id diam non mi aliquet
            placerat. Aenean sagittis quis nulla sit amet imperdiet. Nunc convallis libero sem, condimentum consectetur nisi
            vulputate in. Sed in leo quis justo hendrerit imperdiet at ac risus.</p>

        <p>Aliquam dapibus lacus dolor, sit amet consequat nisi eleifend id. Sed elementum, diam in porta imperdiet, dolor magna
            pharetra nisi, finibus vulputate nisl dui non erat. Cras posuere felis eu elit vestibulum porta. Duis at justo
            lacus. Integer vel pharetra justo. Etiam lectus mauris, auctor non tincidunt eu, vestibulum id ex. Aliquam erat
            volutpat. In dignissim viverra ante non congue. Etiam mattis blandit ultricies.</p>
    </div>
    <br>
    <a href="../puppies"><button class="uk-button uk-button-primary uk-button-large" id="button1">Start Here</button></a>
    <br>
    <br>
    <div class="footer">
        Copyright 2018
    </div>
</div>