<div class="uk-background-cover uk-height-large uk-panel uk-flex uk-flex-center uk-flex-middle uk-background-top-center"
    style="background-image: url(/img/banner-image.png);">
</div>

<div class="description">
    <div class="header">
        <h1>Welcome to puppy pals! </h1>
    </div>
    <div class="paragraphs"></div>
    <p></p>

</div>