<div class="uk-background-cover uk-height-large uk-panel uk-flex uk-flex-center uk-flex-middle uk-background-top-center"
    style="background-image: url(/img/banner-image.png);">
</div>
<br>
<div class="uk-container uk-container-small">
    <div class="header">
        <h1>Welcome to puppy pals! </h1>
    </div>
    <div class="paragraphs">
        <p> Puppy Pals is designed to allow you to adopt a dog from a nearby shelter. We have included images of each
            currently available for you to choose from, and will be updated every so often, as different shelters contact us
            with new dogs that are available for adoption.
        </p>

        <p>Click on the arrows to choose a dog of your liking! Each post will include information such as name, age, breed,
            gender, and any special information that needs to be shared with the potential new owner. When you have 
            selected one of your liking, click on the button below the iamge, and it will prompt you to a modal where you can confirm
            the selection.
        </p>

        <p> Goodluck and we wish you the best with your new pup!</p>
    </div>
    <br>
    <a href="../puppies"><button class="uk-button uk-button-primary uk-button-large" id="button1">Start Here</button></a>
    <br>
    <br>
    <div class="footer uk-text-muted">
        Copyright 2018 |
        <a href="/shelter" class = "uk-text-muted">Shelter-Click here</a> 

    </div>
</div>