<div class="uk-background-cover uk-height-large uk-panel uk-flex uk-flex-center uk-flex-middle uk-background-top-center"
    style="background-image: url(/img/banner-image.png);">
</div>

<div class="uk-flex uk-flex-center">
    <div class="uk-card uk-card-default uk-card-body">This is where the slideshow will go!
    </div>
</div>
    <p uk-margin>
        <a class="uk-button uk-button-default" href="#">Like</a>
        <button class="uk-button uk-button-default">No thanks</button>
    </p>