img#profileImageOnPage.dogPhoto {
    max-width: 400px;
    padding:1px;
    border:1px solid #021a40;
    background-color:rgb(0, 123, 255); 
}

#aboutDiv {
    position: relative; 
    top: -80px;
}

.aboutHeading {
    font-family: 'Raleway', sans-serif;
}

.aboutText {
    font-size: 1.25rem;
}