
#sheltitle{
    font-family: 'Raleway', sans-serif;
}


.puppy {
    text-align: center !important;
    font-family: 'Yellowtail', cursive !important;
    font-size: 42px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 1.09091 !important;
}

.uk-container uk-container-small {
    text-align: center;
}

.uk-height-large {
    height: 261px !Important;
}

#button1 {
    position: relative;
    left: 375px;
    font-family: 'Yellowtail', cursive !important;
    font-size: 15px !important;
}

.footer {
    text-align: center;
}

