
#sheltitle{
    text-align: center !important;
    font-family: 'Raleway', sans-serif;
    font-size: 42px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 1.09091 !important;
}


.puppy {
    text-align: center !important;
    font-family: 'Yellowtail', cursive !important;
    font-size: 42px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 1.09091 !important;
}

.uk-container uk-container-small {
    text-align: center;
}

.uk-height-large {
    height: 261px !Important;
}

#button1 {
    position: relative;
    display: block;
    margin: 0 auto; 
    font-family: 'Raleway', sans-serif;
    font-size: 15px !important;
}

.footer {
    text-align: center;
}

.uk-navbar-container{
   height: 40px;
}

#slideshowContainer {
    margin: 0 auto; 
    text-align: center; 
}

#slideshowDiv {
    top: -90px;
}

#overlay {
    padding: 10px;
}

.backButton {
    margin: 10px auto; 
    display: block; 
    top: -50px;
    position: relative;
}

.profilePhoto {
    position: relative; 
    top: -50px;
}